.part1 h2
{
    color: red;
}
.part1 p
{
    color: white;
    background-color: black;
}
.part2 h2
{
    color: green;
}
.part2 p{
    color:green;
    background-color: red;
}
.part3 p
{
    color: green;

}
.part3 div
{
    color: green;
}
.part3 div p{
    color: green;
}
.part4 >p
{
    color: green;
}
.part4 div{
    color: black;
}
.part4 div p{
    color: black;
}