h1{
    color: white;
    background-color: blue;
    padding: 20px;
}
nav{
    background-color:yellow;;
}
main
{
    background-color: blue;
}
aside{
    background-color: skyblue;
}

footer p
{
    background-color:green;
}